{% assign class = "item active" %}

{% assign file = '1.jpg' %}
{% capture caption_title %}
Daily activity graph
{% endcapture %}
{% capture caption_body %}
Example rendering of the daily activity graph
{% endcapture %}
{% include screenshot-item.html %}


{% assign class="item" %}

{% assign file = '2.jpg' %}
{% capture caption_title %}
Most active times
{% endcapture %}
{% capture caption_body %}
Example rendering of the most active times graph
{% endcapture %}
{% include screenshot-item.html %}


{% assign file = '3.jpg' %}
{% capture caption_title %}
Most active nicks
{% endcapture %}
{% capture caption_body %}
Example rendering of the most active nicks list
{% endcapture %}
{% include screenshot-item.html %}


{% assign file = '4.jpg' %}
{% capture caption_title %}
Most active nicks by hour
{% endcapture %}
{% capture caption_body %}
Example rendering of the most active nicks by hour table
{% endcapture %}
{% include screenshot-item.html %}


{% assign file = '5.jpg' %}
{% capture caption_title %}
Big numbers
{% endcapture %}
{% capture caption_body %}
Example rendering of the big numbers table
{% endcapture %}
{% include screenshot-item.html %}


{% assign file = '6.jpg' %}
{% capture caption_title %}
Most used words
{% endcapture %}
{% capture caption_body %}
Example rendering of the most used words list
{% endcapture %}
{% include screenshot-item.html %}


{% assign file = '7.jpg' %}
{% capture caption_title %}
Smiley usage
{% endcapture %}
{% capture caption_body %}
Example rendering of the smiley usage table
{% endcapture %}
{% include screenshot-item.html %}


{% assign file = '8.jpg' %}
{% capture caption_title %}
Most referenced URLs
{% endcapture %}
{% capture caption_body %}
Example rendering of the most referenced URLs table
{% endcapture %}
{% include screenshot-item.html %}

